.redtitle { color: #DC143C; font-weight: bold; font-family: Verdana }
.aref {
    border: 1px solid black;
    padding: 7px; 
    background: #efecdf; 
    font-weight: bold; 
    font-size: 15; 
    white-space: nowrap;
	font-family: Verdana
   }